<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lgy.YoRiZoRi.detail_review.dao.ReviewDAO">
	<select id="list" resultType="com.lgy.YoRiZoRi.detail_review.dto.ReviewDTO">
		select review_id, recipe_id, member_id, content, rating, image, created_at
		from review
		where review_id=#{review_id}
		order by review_id ASC
	</select>
	
	<select id="findById" resultType="com.lgy.YoRiZoRi.detail_review.dto.ReviewDTO">
        SELECT review_id, recipe_id, member_id, content, rating, image, created_at
        FROM review
        WHERE review_id = #{review_id}
    </select>

	<insert id="write" parameterType="com.lgy.YoRiZoRi.detail_review.dto.ReviewDTO"
	useGeneratedKeys="true" keyProperty="review_id">
		<selectKey keyProperty="review_id" resultType="int" order="BEFORE">
            SELECT REVIEW_ID_SEQ.NEXTVAL FROM DUAL
        </selectKey>
		insert into review
		(review_id, recipe_id, member_id, content, rating)
		values
		(#{review_id}, #{recipe_id}, #{member_id}, #{content}, #{rating})
	</insert>
</mapper>